#FrontImage{
    width: 15em;
    height: 15em;
}

#make-lobby{
    width: 12em;
    height: 3em;
    background-color: rgb(148, 238, 238);
    color: white;
}

#lobbycode{
    color: darkblue;
    font-size: 2em;
}

.lobbycodetext{
    color: black;
    font-size: 1.5em; 
}
.icon{
    width: 3em;
    height: 3em;
    align-items: bottom;
}

.playerlist{
    color: black;
    font-size: 1em;
    font-weight: bold;
}
.body{
    text-align: center;
}

#player-container{
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    padding: 50px;
}
