.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
}

.grid-item {
    max-width: 400px;
}

.scorekeeper{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    border: 1px solid black;
}

.playercanvas {
    width: 400px; 
    height: 300px;
    background-color: white;
    border: 1px solid black;
}